//@use "/src/ssptr-fids-design/custom-theme-fids.scss";
//@use "/src/ssptr-fids-design/custom-theme.scss";
//@use '~@angular/material/theming';


.ejac-container
{
    position:relative ; 
    background-color: transparent;
    display: inline-block;
    overflow: visible;
}

// $ejac-shemes : primary accent warn ;
// @for $i from 1 to length($ejac-shemes) {
//     .#{nth($ejac-shemes, $i )}  { 
//          @extend .sosi-#{nth($ejac-shemes, $i )}-text;
//     }
//     .fids-#{nth($ejac-shemes, $i )}  { 
//         @extend .fids-#{nth($ejac-shemes, $i )}-text;
//    }
// }
  

.ejac-pic
{
    background: transparent;
    z-index: 1; 
    position: absolute; 
    top: 0; 
    left: 0;
    overflow: visible;
}

.ejac-cnt
{
    right: 0px;
    z-index: 2; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    background: transparent;

}