<div #main [ngClass]="color" style="visibility:collapse" ></div>
<span [style.height.px] = "getSvgHeight()"  [style.width.px] = "getSvgWidth()" class="ejac-container" > 
    <div class="ejac-pic"  > 
        <!-- [style.height.px] = "getSvgHeight()" -->
        <svg [attr.height] = "getSvgHeight()" [attr.width] ="getSvgWidth()" [attr.stroke]="getSvgBackColor()" [attr.fill] = "getSvgBackColor()" >
            <!-- <filter id="blur">
                <feGaussianBlur in="SourceGraphic" stdDeviation="10" />
            </filter>
            <path  [attr.stroke]="getSdwColor()" [attr.fill] = "getSdwColor()"  [attr.d] = "getSvgPath()" [attr.transform] = "getSvgTransform()" filter="url(#blur)" /> -->
            <path [attr.d] = "getSvgPath()" [attr.transform] = "getSvgTransform()"  />
        </svg>
    </div>
    <div [style.height.px] = "getSvgHeight(true)"  [style.width.px] = "getSvgWidth(true)"  class="ejac-cnt" [ngClass]="color" >
        <ng-content></ng-content>
    </div>
</span>

