<mat-progress-bar mode="determinate" color = "accent"  [value] = "progress$|async" class = "progress-fids" ></mat-progress-bar>

<mat-toolbar class = "header-caption-fids ssptr-primary-darker-text">
  <div  > {{ viewOpt?.caption }}</div>
  <div class = "header-sub-text-fids ssptr-accent-darker-color"> {{ viewOpt?.subcaption }} </div>
</mat-toolbar> 

<!-- [@fadeIn] = "{value: state$|async } -->
<!-- 'mat-cell-fids-table': isStyle(disCol.name),  -->

<table mat-table [dataSource]="dataSource" class="fids-table "  [@fadeIn] = "{value: aState$ | async }" >
    <ng-container *ngFor="let disCol of (columnsEx$ | async); let colIndex = index" matColumnDef="{{disCol.name}}">
      <th mat-header-cell *matHeaderCellDef class="fids-table-col ssptr-primary-darker-text-2" [ngClass]="{ 'mat-cell-Center': isStyle3(disCol.name) }" >{{disCol.caption}}</th>
      <td mat-cell *matCellDef="let element"  class = ma
            [ngClass]="{  'mat-cell-Flight': isStyle1(disCol.name),
                          'ssptr-primary-lighter-color' : isStyle1(disCol.name), 
                          'ssptr-primary-darker-color':   isStyle2(disCol.name), 
                          'mat-cell-Center': isStyle3(disCol.name)  
                        }"  >
           {{element[disCol.name]}} 
       </td>
    </ng-container>

    <!-- Header row first group -->
    <ng-container matColumnDef="header-row-first-group">
      <th mat-header-cell *matHeaderCellDef   [attr.colspan]="viewOpt?.headColSpans1"  class="ssptr-primary-darker-text-2">  
        <app-ejaculation-container  mat-extra-mini-fab class = 'ejac-cnt' color = "ssptr-accent-main-text" > 
          <mat-icon>flight_takeoff</mat-icon> 
        </app-ejaculation-container>
        <span>  ВЫЛЕТ ИЗ НИЖНЕВАРТОВСКА  </span>
       </th>
    </ng-container>
    
    <!-- Header row second group -->
    <ng-container matColumnDef="header-row-second-group" >
      <th mat-header-cell *matHeaderCellDef   [attr.colspan]="viewOpt?.headColSpans2"  class="ssptr-primary-darker-text-2" >  
        <!-- <button mat-mini-fab  class = "fids-accent-text" >  <mat-icon>flight_land</mat-icon> </button> -->
        <app-ejaculation-container  mat-extra-mini-fab class = 'ejac-cnt' color = "ssptr-accent-main-text" > 
          <mat-icon>flight_land</mat-icon> 
        </app-ejaculation-container>
        <span>  ПРИЛЕТ В НИЖНЕВАРТОВСК  </span>
       </th>
    </ng-container>

    <!-- <tr mat-header-row *matHeaderRowDef="columns$ | async"   ></tr> -->
    <tr mat-header-row *matHeaderRowDef="['header-row-first-group', 'header-row-second-group']" class="fids-table-hyper-header-row"></tr>
    <tr mat-header-row *matHeaderRowDef="columns$ | async"  class="fids-table-header-row"></tr>
    <!-- <tr mat-row  *matRowDef="let row; let i = index; columns:  columns$ | async ;" [ngClass]="{'fids-table-row-0':(i%2==0), 'fids-table-row-1': !(i%2==0)}" ></tr> -->
    <tr mat-row  *matRowDef="let row; let i = index; columns:  columns$ | async ;" 
          [ngClass]="{'ssptr-primary-lighter-text':(i%2==0), 'ssptr-primary-main-text': !(i%2==0) }" 
          class="fids-table-row" 
       
    ></tr>
  </table> 

  