<main class="jn-content jg-layout fids-theme"> 
  <div class="jn-content-col ssptr-primary-darker-text" >
      
      <div class="jn-content-p example-spacer"> 
          <!-- <router-outlet></router-outlet> -->
      </div>     

      
      <footer class="mat-elevation-z6" >
        
            <div class="jg-footer-copyright" >
               
              <span class = "ssptr-primary-lighter-color"> <img class="jg-smal-img"  src="../assets/images/nva24.png"> AO "Нижневартовскавиа" ©2018-2022. </span>
              <span><img class="jg-smal-img"  src="../assets/images//isp.ico"> Ispolin project 2017-2019. </span>
              <span class ="example-spacer"></span>
              <!-- <span><app-gruel-monitor class="jg-smal-img"> </app-gruel-monitor> Sosipator application 2.03a(111122-2) 2021-2022. </span> -->
                
            </div>
      </footer>

  </div>
</main>



