<div class="container" >
    <div class="box">
        <h1>Sosipator application home</h1>
        <p> VERSION 2 ( DEVIDE BY MODULES  ) </p>
        <img src="../assets/images/ssptr.png" >
    </div>
    
</div>

<!-- <app-fids-client-landing></app-fids-client-landing> -->

<a href="/admin">Форма администрирования</a>

<!-- <div style="display:flex ; flex-direction: row; justify-content: space-between;" >        
    <div *ngFor="let items of optionDescriptor let igr = index" style="padding-left:20px ; padding-bottom: 20px; "   > -->
        <!-- <mat-card-title>{{items.propCaption}}</mat-card-title>--> 
        <!-- <div>        
            <h2>{{items.propCaption}}</h2>
        </div>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
             <mat-button-toggle *ngFor="let item of items.set let i = index "
                [value] = "[igr,i]"
                (change)="onValChange($event.value)">
                {{items.toCaption(i)}}
            </mat-button-toggle>
        </mat-button-toggle-group> 
    </div>
</div>    
<mat-divider inset></mat-divider> -->